@charset "utf-8";
/*
Kevin Mulligan
CIS 155
01/20/21
*/

/*HTML structure Elements */








/*Colors, Margins, and Sizing */
html{
    background-color: black;
    color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/*Default Font Styles */





/* Default List Styles*/

nav ul{
    list-style: none;
    list-style-image: none;
    margin:0;
    padding:0;
}



/*Images*/




















