@charset "utf-8";
/*HTML structure Elements */








/*Colors, Margins, and Sizing */
html{
    background-color: black;
    color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/*Default Font Styles */





/* Default List Styles*/





/*Images*/




















